.bg {
    background-image: url("https://i.pinimg.com/originals/fa/7e/2c/fa7e2c168e304b9037ab8f0201e818cb.jpg");
    height: 600px;
    width: 100%;
    /* background-blend-mode: overlay; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
  }

  .textStyle{
   
        font-family: 'Courgette', cursive;
  }

  .addButton{
      background-color: #3E162F ;
  }
  .addButton:hover {
    border: 1px solid #fff;
    background-color: #111;
    transition: 1s;
  }