/* Lobster two font*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
/* Courgette font */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* Ramaraja Font */
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');


.title{
    font-family: 'Lobster Two', cursive;

}
.nav1TextStyle{
    font-family: 'Ramaraja', serif;
}
.nav2TextStyle{
    font-family: 'Courgette', cursive;
}