@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.title{
    font-family: 'Lobster Two', cursive;

}

.textStyle{
   
    font-family: 'Courgette', cursive;
}

.inputStyle{
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgb(17, 17, 17);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 350px;
    padding: 0px;margin: 0px;
}